<% content_for :page_title, t('auth.login') %>

<% content_for :header_tags do %>
  <%= render partial: "shared/og" %>
<% end %>

<%= form_with( url: new_auth_session_pksignin_path(format: :json),
                    data: {
                      controller: "new-session",
                      action: "new-session#submit"
                    },
                    class: "simple_form") do |form| %>
  <h1 class="title"><%= t('auth.sign_in.title', domain: site_hostname) %></h1>
  <p class="lead"><%= t('auth.sign_in.preamble_html') %></p>
  <div class="fields-group">
    <%= form.fields_for :account do |ff| %>
      <%= ff.text_field :passkey_label, placeholder: t('simple_form.labels.defaults.username'), required: true, input_html: { 'aria-label': t('simple_form.labels.defaults.passkey_label'), autocomplete: 'passkey_label webauthn' } %>
    <% end %>
  </div>
  <div class="actions">
      <%= form.button(class: 'btn', type: :submit ) do |button| %>
        <%= t('auth.login') %>
      <% end %>
  </div>
<% end %>
